@font-face
  font-family 'Circle'
  font-weight normal
  src image-url('fonts/Circe-Regular.woff')

@font-face
  font-family 'Circle'
  font-weight bold
  src image-url('fonts/Circe-Bold.woff')

//Пока не используется
//@font-face
//  font-family 'Circe'
//  font-weight 800
//  src image-url('fonts/Circe-ExtraBold.woff')