include ../mixins/svg

doctype html
html(lang="ru")
  head
    title Инфомедиа
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel='stylesheet' href='../build/styles/app-c3d570106d.css')
    script(src='../build/js/app-f6a37f434c880d848b88.js')
  body(data-sprite-path='../build/styles/svg-sprite-e018e13580.svg')
    block body
