include ../mixins/svg

doctype html
html(lang="ru")
  head
    title Инфомедиа
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel='stylesheet' href='../build/styles/app-7efd3b6b19.css')
    script(src='../build/js/app-520629636be13ef3b29a.js')
  body(data-sprite-path='../build/styles/svg-sprite-e018e13580.svg')
    block body
